* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  font-family: monospace;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin-bottom: 5px;
}

button {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  &.selected {
    font-weight: bold;
  }
}

video {
  border: solid;
  border-radius: 4px;
  margin-bottom: 40px;
}

.container {
  margin: 25px;
}

.buttons-container {
  display: inline-block;
  width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;
}
